body {
  font-family: "Vazir", sans-serif;
  background-color: #2b3064;
  color: #cbd5e0;
  overflow-x: hidden;
  overflow-y: scroll;
  /* Prevents scrolling */
}

.menu-hidden {
  display: none;
}
header,
footer {
  background-color: #2d3748;
}
nav a {
  color: #cbd5e0;
}
nav a:hover {
  color: #63b3ed;
}
#mobile-menu a {
  background-color: #2d3748;
}
#mobile-menu a:hover {
  background-color: #4a5568;
}

#background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
